@model Plottomat.Controllers.PlotController.PlotDataSet[]
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Plot/Layout.cshtml";
}

<article id="App">
    <a asp-action="VueDemo" class="btn btn-normal">Neu mit Vue</a>
    <a asp-action="JQDemo" class="btn btn-normal">Neu mit JQuery</a>

    <h1>Liste aller Plots</h1>

    <!-- Liste aller auf dem Server gespeicherter Plots anzeigen -->
    <table class="table table-striped">
        <tr>
            <th>Date</th>
            <th>fTerm</th>
            <th>a</th>
            <th>b</th>
            <th>maxPoints</th>
            <th>Open</th>
        </tr>
        @foreach (var pds in Model)
        {
            <tr>
                <td>
                    @pds.fTerm
                </td>
                <td>
                    @pds.a
                </td>
                <td>
                    @pds.b
                </td>
                <td>
                    @pds.maxPoints
                </td>
                <td>
                    @pds.created
                </td>
                <td>
                    <a asp-action="Load" asp-route-id="@pds.id" class="btn btn-normal">open</a>
                    <a asp-action="Delete" asp-route-id="@pds.id" class="btn btn-danger">del</a>
                </td>
            </tr>

        }


    </table>


</article>

